tools/n8n-workflows/youtube-to-newsletter.json
{
  "name": "YouTube Transcript to Newsletter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-to-newsletter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "youtube-newsletter-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://youtube-transcript3.p.rapidapi.com/api/transcript?url={{ encodeURIComponent($json.body.url) }}&lang=en",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "YOUR_RAPIDAPI_KEY_HERE"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "youtube-transcript3.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678902",
      "name": "Fetch Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You are writing a newsletter section based on a YouTube video transcript.\n\nVideo URL: {{ $('Webhook Trigger').item.json.body.url }}\nTranscript:\n{{ $json.transcript || JSON.stringify($json) }}\n\nWrite a newsletter section with this structure:\n- Opening paragraph (2-3 sentences): the main insight from the video\n- 3 main points: each is a bold heading + 2-3 sentence explanation\n- Closing paragraph: one honest takeaway and a call to action\n\nVoice: direct, personal, no hype. Write as if you watched this video yourself.\nDo not mention that this came from a transcript.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.6,
          "maxTokens": 800
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678903",
      "name": "OpenAI Reformat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred-1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.convertkit.com/v3/broadcasts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"YOUR_CONVERTKIT_API_KEY_HERE\",\n  \"subject\": \"Newsletter Draft: {{ $('Webhook Trigger').item.json.body.url }}\",\n  \"content\": {{ JSON.stringify($json.message?.content || $json.choices?.[0]?.message?.content || '') }}\n}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678904",
      "name": "Create ConvertKit Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "sendTo": "you@youremail.com",
        "subject": "=Newsletter Draft Ready: {{ $('Webhook Trigger').item.json.body.url }}",
        "emailType": "text",
        "message": "=New newsletter draft created in ConvertKit.\n\nSource video: {{ $('Webhook Trigger').item.json.body.url }}\n\nBroadcast ID: {{ $json.broadcast?.id }}\n\nPreview it at: https://app.convertkit.com/broadcasts\n\nEdit, review, and schedule it from there.",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678905",
      "name": "Notify via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred-1",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Draft created\" }"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678906",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transcript": {
      "main": [
        [
          {
            "node": "OpenAI Reformat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Reformat": {
      "main": [
        [
          {
            "node": "Create ConvertKit Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ConvertKit Draft": {
      "main": [
        [
          {
            "node": "Notify via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify via Gmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "content",
      "createdAt": "2026-03-22T00:00:00.000Z",
      "updatedAt": "2026-03-22T00:00:00.000Z"
    },
    {
      "name": "newsletter",
      "createdAt": "2026-03-22T00:00:00.000Z",
      "updatedAt": "2026-03-22T00:00:00.000Z"
    }
  ]
}
