Ceiba/projects/content-empire/products/n8n-automation-pack/content-repurpose.json
{
  "name": "Content Repurpose Pipeline",
  "nodes": [
    {
      "parameters": {
        "url": "YOUR_BLOG_RSS_FEED_URL_HERE",
        "options": {}
      },
      "id": "c3d4e5f6-0001-4000-8000-000000000001",
      "name": "RSS Read - New Blog Post",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a content strategist for Behike, a solopreneur brand. Write punchy, scroll-stopping content. Use Dan Koe tone: direct, philosophical, builder-first. No fluff. No emojis overload. Max 2-3 relevant ones."
            },
            {
              "role": "user",
              "content": "Write a Twitter/X thread from this blog post. Format: Hook tweet first, then 5-7 insight tweets numbered 1/ through 7/, end with a CTA to the original post. Keep each tweet under 280 chars.\n\nTitle: {{ $json.title }}\nContent: {{ $json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0002-4000-8000-000000000002",
      "name": "OpenAI - Generate Twitter Thread",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a content strategist for Behike. Write LinkedIn posts that get engagement from solopreneurs, builders, and AI-curious professionals. Tone: thoughtful, contrarian, story-driven. No buzzwords. First line must be a hook that stops the scroll."
            },
            {
              "role": "user",
              "content": "Write a LinkedIn post (max 1300 chars) from this blog content. Start with a hook, share 3 insights, end with a question to drive comments.\n\nTitle: {{ $('RSS Read - New Blog Post').item.json.title }}\nContent: {{ $('RSS Read - New Blog Post').item.json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "OpenAI - Generate LinkedIn Post",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a content strategist for Behike (@behikeai). Write Instagram captions for a solopreneur AI brand. Style: punchy, minimal, one strong idea per post. Use 3-5 lines max. Include 5-10 targeted hashtags at the end."
            },
            {
              "role": "user",
              "content": "Write an Instagram caption from this blog content. Lead with the strongest insight. End with a CTA (save this, follow for more, link in bio).\n\nTitle: {{ $('RSS Read - New Blog Post').item.json.title }}\nContent: {{ $('RSS Read - New Blog Post').item.json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0004-4000-8000-000000000004",
      "name": "OpenAI - Generate Instagram Caption",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "update",
        "operation": "create",
        "profile_ids": [
          "YOUR_BUFFER_TWITTER_PROFILE_ID_HERE",
          "YOUR_BUFFER_LINKEDIN_PROFILE_ID_HERE",
          "YOUR_BUFFER_INSTAGRAM_PROFILE_ID_HERE"
        ],
        "text": "={{ $('OpenAI - Generate Twitter Thread').item.json.choices[0].message.content }}",
        "additionalFields": {
          "scheduled_at": "={{ $now.plus(2, 'hours').toISO() }}"
        }
      },
      "id": "c3d4e5f6-0005-4000-8000-000000000005",
      "name": "Buffer - Schedule Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "notes": "Buffer does not have a native n8n node. This uses HTTP Request to the Buffer API. Set Authorization header to 'Bearer YOUR_BUFFER_ACCESS_TOKEN_HERE'"
    }
  ],
  "connections": {
    "RSS Read - New Blog Post": {
      "main": [
        [
          { "node": "OpenAI - Generate Twitter Thread", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI - Generate Twitter Thread": {
      "main": [
        [
          { "node": "OpenAI - Generate LinkedIn Post", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI - Generate LinkedIn Post": {
      "main": [
        [
          { "node": "OpenAI - Generate Instagram Caption", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI - Generate Instagram Caption": {
      "main": [
        [
          { "node": "Buffer - Schedule Posts", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": ["behike", "content", "repurpose", "social-media"]
}
