Ceiba/projects/content-empire/products/n8n-automation-pack/ebay-listing-monitor.json
{
  "name": "eBay Listing Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "d4e5f6a7-0001-4000-8000-000000000001",
      "name": "Schedule Trigger - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://svcs.ebay.com/services/search/FindingService/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "OPERATION-NAME", "value": "findItemsByKeywords" },
            { "name": "SERVICE-VERSION", "value": "1.0.0" },
            { "name": "SECURITY-APPNAME", "value": "YOUR_EBAY_APP_ID_HERE" },
            { "name": "RESPONSE-DATA-FORMAT", "value": "JSON" },
            { "name": "keywords", "value": "YOUR_SEARCH_KEYWORDS_HERE" },
            { "name": "paginationInput.entriesPerPage", "value": "50" },
            { "name": "itemFilter(0).name", "value": "ListingType" },
            { "name": "itemFilter(0).value", "value": "FixedPrice" },
            { "name": "sortOrder", "value": "PricePlusShippingLowest" }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-0002-4000-8000-000000000002",
      "name": "HTTP Request - eBay Finding API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse eBay API response and extract listing data\nconst response = $input.first().json;\nconst searchResult = response?.findItemsByKeywordsResponse?.[0]?.searchResult?.[0];\n\nif (!searchResult || !searchResult.item) {\n  return [{ json: { hasNewItems: false, items: [] } }];\n}\n\nconst items = searchResult.item.map(item => ({\n  itemId: item.itemId?.[0],\n  title: item.title?.[0],\n  currentPrice: parseFloat(item.sellingStatus?.[0]?.currentPrice?.[0]?.__value__ || 0),\n  shippingCost: parseFloat(item.shippingInfo?.[0]?.shippingServiceCost?.[0]?.__value__ || 0),\n  totalCost: parseFloat(item.sellingStatus?.[0]?.currentPrice?.[0]?.__value__ || 0) + parseFloat(item.shippingInfo?.[0]?.shippingServiceCost?.[0]?.__value__ || 0),\n  viewUrl: item.viewItemURL?.[0],\n  condition: item.condition?.[0]?.conditionDisplayName?.[0] || 'Unknown',\n  soldCount: parseInt(item.sellingStatus?.[0]?.bidCount?.[0] || 0),\n  endTime: item.listingInfo?.[0]?.endTime?.[0]\n}));\n\n// Check for price drops (items under your target price)\nconst TARGET_PRICE = parseFloat(process.env.EBAY_TARGET_PRICE || '25');\nconst priceDrop = items.filter(i => i.totalCost < TARGET_PRICE);\n\nreturn [{\n  json: {\n    hasNewItems: items.length > 0,\n    hasPriceDrop: priceDrop.length > 0,\n    totalResults: items.length,\n    items: items.slice(0, 10),\n    priceDrop,\n    scannedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "d4e5f6a7-0003-4000-8000-000000000003",
      "name": "Code - Format Listing Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.hasNewItems }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6a7-0004-4000-8000-000000000004",
      "name": "IF - New Items Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "EbayListings",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ScannedAt": "={{ $json.scannedAt }}",
            "TotalResults": "={{ $json.totalResults }}",
            "TopItem": "={{ $json.items[0]?.title }}",
            "LowestPrice": "={{ $json.items[0]?.totalCost }}",
            "ItemURL": "={{ $json.items[0]?.viewUrl }}",
            "PriceDropCount": "={{ $json.priceDrop?.length }}"
          }
        },
        "options": {}
      },
      "id": "d4e5f6a7-0005-4000-8000-000000000005",
      "name": "Google Sheets - Log Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_SHEETS_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "={{ $json.hasPriceDrop ? '🔥 PRICE DROP ALERT on eBay!' : '📦 eBay Scan Complete' }}\n\nResults: {{ $json.totalResults }} listings found\nLowest Total: ${{ $json.items[0]?.totalCost }}\nTop Item: {{ $json.items[0]?.title }}\n{{ $json.hasPriceDrop ? '\\nPRICE DROPS: ' + $json.priceDrop.length + ' items under target!\\n' + $json.priceDrop.map(i => i.title + ' - $' + i.totalCost + '\\n' + i.viewUrl).join('\\n') : '' }}\n\nScanned: {{ $json.scannedAt }}",
        "additionalFields": {}
      },
      "id": "d4e5f6a7-0006-4000-8000-000000000006",
      "name": "Telegram - Alert Kalani",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger - Every 6 Hours": {
      "main": [
        [
          { "node": "HTTP Request - eBay Finding API", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP Request - eBay Finding API": {
      "main": [
        [
          { "node": "Code - Format Listing Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code - Format Listing Data": {
      "main": [
        [
          { "node": "IF - New Items Found?", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF - New Items Found?": {
      "main": [
        [
          { "node": "Google Sheets - Log Results", "type": "main", "index": 0 },
          { "node": "Telegram - Alert Kalani", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": ["behike", "ebay", "product-research", "dropshipping"]
}
